data/annotations/
data/images/
data/annotations.tar.gz
data/images.tar.gz
tests/
*.ipynb
*.pth
.venv/
.DS_Store
dump/
tests/
__pycache__/
*.zip
wandb/
to-do.md
log_segment_samples.py
feat_mp_an.py
.matplotlib/
log_detection_wandb.py